/* 
author  : Muhamad Munawir Amin
Email   : muhamadmunawiramin@gmail.com
Date    : 8 February 2021
 */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: black;
}

.guide-list-content-card:hover .overlay {
    opacity: 0.5;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
